<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>tabla</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/tabla.css">
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
      <nav class="navBar">
    <div class="logo">
      <img src="/img/logo1.png">
    </div>
    <ul class='ulContainer'>
      <li class="li"><a style="color:white" href="/productos">Productos</a></li>
      <li class="li"><a style="color:white" href="/categorias">Categorias</a></li>
      <li class="li"><a style="color:white" href="/">Compras</a></li>
      <li class="li"><a style="color:white" href="/">Favaritos</a></li>
      <li class="li"><a style="color:white" href="/">Cerrar</a></li>
    </ul>
  </nav>
    <!-- end header section -->
  </div>

       <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>categoria</th>
          <th>_ _</th>
          <th>_ _</th>
          <th>_ _</th>
          <th>_ _</th>
          <th>_ _</th>
          <th>_ _</th>
          <th>_ _</th>
          <th>_ _</th>
          <th>_ _</th>
          <th>_ _</th>
         
          <th><a href="/agregarCategoria"><img width="33" src="/icon/add.png"></a></th>
      </tr>
      </thead>
      <tbody>
      <% for(let x = 0; x < c.length;x++){ %>
      <tr>
        <td><%=c[x].id%></td>
         <td><%=c[x].categoria%></td>
           <td>_ _</td>
           <td>_ _</td>
           <td>_ _</td>
           <td>_ _</td>
           <td>_ _</td>
           <td>_ _</td>
           <td>_ _</td>
           <td>_ _</td>
           <td>_ _</td>
           <td>_ _</td>
         <td>
            <a href="/updateCategoria/<%=c[x].id%>"><img width="33" src="/icon/update.png"></a>
            <a href="/deleteCategoria/<%=c[x].id%>"><img width="33" src="/icon/delete.png"></a>
          </td>
      </tr>
      <% } %>
        <!-- Agrega más filas según sea necesario -->
      </tbody>
    </table>
  </div>

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>

